button{
    background-color: powderblue;
    font-family: "Gill Sans";
    height: 40px;
    width:80px;
    display: block;
    margin: 0 auto;
    border: none
}
button:hover{
    background-color:rgb(210, 210, 255);
}
img{
    height:200px;
    width:200px;
    margin: 20px;
}
.games-container {
    display: flex;
    justify-content: space-between;
}
div{
    width: 250px;
}
.game1, .game2, .game3{
    flex: 1;
    margin: 10px;
    background-color:lightgray;
}
.subtitle{
    background-color:aquamarine;
    width: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: powderblue;
}
ul li a{
    justify-content: space-between;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: "Gill Sans";
}
ul li a:hover{
    background-color:cyan;
}
ul li{
    float: left;
}


